.CardContent {
  /* background-color: b; */
  width: 275;
  margin: 20px;
  padding: 20px;
  /* font-family: monospace; */
}

.CardBottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
