.CardContent {
  /* background-color: blue; */
  width: 275;
  margin: 20px;
  padding: 20px;
  border: 5px solid red;
}

.CardBottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
